.DS_store
.config.json
.dist
.jshintignore
.npm
.project
.sessions.json
.settings
.tern-project
*.backup
*_cred*
coverage
credentials.json
flows*.json
nodes/node-red-nodes/
node_modules
locales/zz-ZZ
nodes/core/locales/zz-ZZ
node-red-gaia-winston.log
extra/docker/node-red-gaia-1.0.1.zip
